{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Juegos en Stock</h2>
    
    <!-- Buscador -->
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" 
                   placeholder="Buscar juegos..." value="{{ search_term }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
 <table class="table">
    <thead>
        <tr>
            <th>Coodigo De Barra </th>
            <th>Nombre Del Juego</th>
            <th>Consola</th>
            <th>Distribucion</th>
            <th>Clasificacion</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Acciones</th>  
        </tr>
    </thead>
    <tbody>
        {% for juego in juegos %}  
    <tr>
        <td>{{ juego.codigoDeBarra }}</td>
        <td>{{ juego.nombreJuego }}</td>
        <td>{{ juego.consola.nombreConsola }}</td>
        <td>{{ juego.distribucion.nombreDistribucion }}</td>
        <td>{{ juego.clasificacion.nombreClasificacion }}</td>
        <td>{{ juego.descripcion.detallesDescripcion }}</td>
        <td>{{ juego.stock }}</td>
        <td> 
            <a href="{% url 'modificar_juego' juego.id %}" class="btn btn-sm btn-success">Editar</a>
            <a href="{% url 'eliminar_juego' juego.id %}" class="btn btn-sm btn-danger ml-2">Eliminar</a>
            <a href="{% url 'gestionar_stock' juego.id %}" class="btn btn-sm btn-info ml-2">Gestionar Stock</a>
        </td>
    </tr>
        {% endfor %}
    </tbody>
</table>

    <!-- Paginación -->
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&search={{ search_term }}">Primera</a>
            </li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}&search={{ search_term }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ search_term }}">Última</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}