{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Crear Nuevo Rol</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.rol.label_tag }}
                            {{ form.rol }}
                            {% if form.rol.errors %}
                                <div class="text-danger">{{ form.rol.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Guardar Rol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
